{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}

<h1> Bienvenue au sein de l'administration du site MediaTechBooks </h1>
<div class="container mt-4">
    <a href="{{ path('app_main') }}" class="btn btn-primary float-right">Retour à page d'Accueil</a>
</div>

{% endblock %}
