{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}
    <h1 class="container">Espace utilisateurs</h1>

    <div class="container card">
        <div class="card-body" id="chat-messages">
            {% for message in messages %}
                <div class="card mb-2">
                    <div class="card-body">
                        <strong>{{ message.user.login }}</strong>: {{ message.message }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <h6 class="container mt-5">Nouveau message</h6>
    <form method="post" action="{{ path('chat_send') }}" class="mt-3">
        <div class="container input-group">
            <input type="text" name="message" class="form-control" required>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
    </form>
{% endblock %}
