{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}
    <h1>Chat</h1>

    <div id="chat-messages">
        {% for message in messages %}
            <div class="chat-message">
                <strong>{{message.user.login}} </strong>: {{ message.message }} {#EN ATTENDANT QUE VOUS METTIEZ UN USERNAME#}
            </div>
        {% endfor %}
    </div>

    <form method="post" action="{{ path('chat_send') }}">
        <input type="text" name="message" required>
        <button type="submit">Send</button>
    </form>
{% endblock %}
