{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}
    <div class="container chat-window col-12 col-md-6 mt-3">
        <div class="panel panel-default">
            <div class="panel-heading top-bar">
                <div class="col-md-8">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> Espace utilisateurs</h3>
                </div>
                <div class="col-md-4 text-right">
                    <button class="btn btn-default btn-sm" id="minim_chat_window"><span class="glyphicon glyphicon-minus"></span></button>
                    <button class="btn btn-default btn-sm" id="close_chat_window"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>
            <div class="panel-body msg-container-base">
                <div class="container card">
                    <div class="card-body" id="chat-messages">
                        {% for message in messages %}
                            <div class="card mb-2">
                                <div class="card-body">
                                    <strong>{{ message.user.login }}</strong>: {{ message.message }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container mt-3">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{{ path('chat_send') }}">
                    <div class="input-group">
                        <input type="text" name="message" class="form-control" required>
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-block" type="submit">Send</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <style>
        .msg-container-base {
            max-height: 500px;
            overflow-y: auto;
            margin-bottom: 10px;
        }
        
        .card-body {
            padding: 10px;
        }
        
        .btn-block {
            width: 100%;
        }
    </style>
{% endblock %}
