{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1>Articles</h1>
                <ul class="list-group">
                    {% for post in posts %}
                        <li class="list-group-item">
                            <a href="{{ path('app_post_show', {'id': post.id}) }}">{{ post.title }}</a>
                            <small class="text-muted">Posté le {{ post.createdAt ? post.createdAt|date('d-m-Y') : '' }}</small>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Categories</h5>
                        <ul class="list-group">
                            <li class="list-group-item">Category 1</li>
                            <li class="list-group-item">Category 2</li>
                            <li class="list-group-item">Category 3</li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
