{% extends 'base.html.twig' %}

{% block body %}
    <h1>Articles</h1>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{{ path('app_post_show', {'id': post.id}) }}">{{ post.title }}</a>
                Posté le {{ post.createdAt ? post.createdAt|date('d-m-Y') : '' }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
