{% extends 'base.html.twig' %} 
{% block body %} 
    {% include 'includes/header.html.twig' %}
    <div class="container">
      <h1 class="mt-5">Resultat</h1>     
        {% if searchResult is not empty %} 
          {% for post in searchResult %}
            <div>
              <h6>{{ post.title }}  <a href="{{ path('app_post_show', { id: post.id }) }}" class="btn btn-primary">Afficher</a></h6>             
            </div>
          {% endfor %}
        {% else %}
          <div>
            <h5>Aucun resultat trouvé pour ces critères de recherche</h5>
          </div>
        {% endif %}  
    </div>
{% endblock %}
